a{
    color: rgb(206, 156, 156);
}

.row{
    margin-top: 100px;
}
.card-header{
    background-color:#6c757d;
    opacity: 0.8;
    color: #fff;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}