<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Carla Reiners</h4>
        <div class="card-body">
          <p class="card-text">
            Address: Ölbergweg 22,
            <br>
            82205 Gilching (Germany)
            <br>
            <a href="mailto:creiners@gmx.de>">E-mail: creiners@gmx.de</a>
            <br>
            Mobile: +49 177 8435170
            <br>
            Nationality: German
            <br>
            <a href="https://www.linkedin.com/in/carla-reiners-51898a207">LinkedIn:
              https://www.linkedin.com/in/carla-reiners-51898a207 </a>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>